extends ../templates/layout

block vars
  - var bodyClass = ''
  - var footerClass = ''
  - var headerClass = ''
  - var pageTitle = 'Barrier'
  - var dir = ''

block main
  .section
    .box
      .title Index page