extends ../templates/layout

block vars
  - var bodyClass = ''
  - var footerClass = ''
  - var headerClass = ''
  - var pageTitle = 'Barrier'
  - var dir = ''

block main
  include ../partials/block/preview
  include ../partials/block/about-problem
  include ../partials/block/plan
  include ../partials/block/contact-and-what-to-do
  include ../partials/block/about-us
  include ../partials/block/additional-info