.problem
  .problem__bg
  .box.box--middle
    .problem__inner
      .problem__data
        .title О проблеме
        .subtitle.problem__subtitle.
          Каждую минуту по всему миру люди покупают около миллиона пластиковых бутылок.
          Это число постоянно растет: к 2021 году годовое потребление пластиковых бутылок
          превысит полтриллиона. Большинство из них окажется на свалке или в океане.
          Это приведет к серьезному экологическому кризису. И мы должны сделать все возможное, чтобы предотвратить надвигающуюся катастрофу.
        .problem-info
          .problem-info__cell
            .problem-info__item
              .problem-info__counter 350
              .problem-info__content бутылок в месяц заменяет один кувшин БАРЬЕР
          .problem-info__cell
            .problem-info__item
              .problem-info__counter 837
              .problem-info__content млн. кг. выбросов СО2 в год помогают сократить пользователи БАРЬЕР, отказавшись от бутилированной воды
          .problem-info__cell
            .problem-info__item
              .problem-info__counter 837
              .problem-info__content млн. кг. выбросов СО2 в год помогают сократить пользователи БАРЬЕР, отказавшись от бутилированной воды