.about-us.section#info
  .box.box--middle
    .about-us__inner
      .title.title--default-space.title--section Что о нас говорят?
      .about-slider
        .about-slider__inner
          .about-slider__cell
            a(href="#").about-slide
              .about-slide__wrap
                img(src="images/images/about/about.jpg" alt="slide").about-slide__image
          .about-slider__cell
            a(href="#").about-slide
              .about-slide__wrap
                img(src="images/images/about/about.jpg" alt="slide").about-slide__image
          .about-slider__cell
            a(href="#").about-slide
              .about-slide__wrap
                img(src="images/images/about/about.jpg" alt="slide").about-slide__image
          .about-slider__cell
            a(href="#").about-slide
              .about-slide__wrap
                img(src="images/images/about/about.jpg" alt="slide").about-slide__image
          .about-slider__cell
            a(href="#").about-slide
              .about-slide__wrap
                img(src="images/images/about/about.jpg" alt="slide").about-slide__image
          .about-slider__cell
            a(href="#").about-slide
              .about-slide__wrap
                img(src="images/images/about/about.jpg" alt="slide").about-slide__image
