.additional-info.section
  .box.box--middle
    .additional-info__inner
      .title.title--default-space.title--section Дополнительная информация
      .additional-info__wrap
        .additional-info__cell
          .additional-item
            .additional-item__image-wrap
              img(src="images/images/additional/additional-item.jpg" alt="additional").additional-item__image
            .additional-item__inner
              .additional-item__data
                .additional-item__title Статья
                .additional-item__content.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultricesgravida.
              .additional-item__btn
                a(href="#").btn Узнать
        .additional-info__cell
          .additional-item
            .additional-item__image-wrap
              img(src="images/images/additional/additional-item.jpg" alt="additional").additional-item__image
            .additional-item__inner
              .additional-item__data
                .additional-item__title Статья
                .additional-item__content.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultricesgravida.
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultricesgravida.
              .additional-item__btn
                a(href="#").btn Узнать
        .additional-info__cell
          .additional-item
            .additional-item__image-wrap
              img(src="images/images/additional/additional-item.jpg" alt="additional").additional-item__image
            .additional-item__inner
              .additional-item__data
                .additional-item__title Статья
                .additional-item__content.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultricesgravida.
              .additional-item__btn
                a(href="#").btn Узнать
        .additional-info__cell
          .additional-item
            .additional-item__image-wrap
              img(src="images/images/additional/additional-item.jpg" alt="additional").additional-item__image
            .additional-item__inner
              .additional-item__data
                .additional-item__title Статья
                .additional-item__content.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultricesgravida.
              .additional-item__btn
                a(href="#").btn Узнать