.contact.section
  .box.box--middle
    .contact__inner.contact__grid
      .contact__cell
        .map
          iframe( src="https://yandex.by/map-widget/v1/-/CCsnb1S" width="100%" height="100%" frameborder="1" allowfullscreen="true")
      .contact__cell
        .contact__title Мы принимаем все сменные кассеты и картриджи БАРЬЕР
        .contact__list
          .contact__item
            .contact__ico
              img(src="images/images/contact/ico-1.svg" alt="ico")
            .contact__name Офис в Москве
          .contact__item
            .contact__ico
              img(src="images/images/contact/ico-2.svg" alt="ico")
            .contact__name Производство в Ногинске
          .contact__item
            .contact__ico
              img(src="images/images/contact/ico-3.svg" alt="ico")
            .contact__name Магазины Экотехники