.plan#plan
  .box.box--middle
    .plan__list
      .plan__item
        .info-plan
          .info-plan__data
            .info-plan__count 01
            .info-plan__title Меньше пластика – больше места для жизни!
            .info-plan__description.
              Фильтры БАРЬЕР — это не только экологически ответственный выбор,
              но и бережное отношение к природным ресурсам. На производство одной пластиковой
              бутылки уходит количество воды, в три раза превосходящее её объем.
              Используя фильтры БАРЬЕР, мы оставляем детям чистую планету!
          .info-plan__image-wrap
            img(src="images/images/plan/jug.png" alt='jug').info-plan__image
      .plan__item
        .info-plan
          .info-plan__data
            .info-plan__count 02
            .info-plan__title Но что делать с отработанной кассетой? Сдать на переработку – лучший вариант
            .info-plan__description.
              Компания БАРЬЕР ответственно относится к качеству
              продукции. Для создания фильтров мы используем безопасный
              пластик, рекомендованный к контакту с питьевой водой.
              Корпус кассеты БАРЬЕР состоит из полипропилена
              Это прочный материал, который можно переработать
              и сделать что-нибудь полезное. Наши партнеры — компания
              Экология 24 — заберут фильтры, переработают засыпку
              и корпус, подарив материалу новую жизнь.
          .info-plan__image-wrap
            img(src="images/images/plan/filter.png" alt='filter').info-plan__image
      .plan__item
        .info-plan.info-plan--step
          .info-plan__data
            .info-plan__count 03
            .info-plan__title
              | Путешествие
              br
              | кассеты
          .info-plan__step
            .step-info
              .step-info__list
                .step-info__item
                  .step-info__wrap
                    .step-info__ico-wrap
                      img(src="images/images/plan/ico/1.svg" alt='ico').step-info__ico
                    .step-info__content.
                      Вы приобрели экологичную замену бутылкам — фильтр БАРЬЕР
                .step-info__item
                  .step-info__wrap
                    .step-info__ico-wrap
                      img(src="images/images/plan/ico/2.svg" alt='ico').step-info__ico
                    .step-info__content.
                      Средний срок использования — 2 месяца
                .step-info__item
                  .step-info__wrap
                    .step-info__ico-wrap
                      img(src="images/images/plan/ico/3.svg" alt='ico').step-info__ico
                    .step-info__content.
                      Кассета заменила несколько сотен пластиковых бутылок и отработала ресурс
                .step-info__item
                  .step-info__wrap
                    .step-info__ico-wrap
                      img(src="images/images/plan/ico/4.svg" alt='ico').step-info__ico
                    .step-info__content.
                      Утилизация кассеты в пунктах БАРЬЕР
                .step-info__item
                  .step-info__wrap
                    .step-info__ico-wrap
                      img(src="images/images/plan/ico/5.svg" alt='ico').step-info__ico
                    .step-info__content.
                      Меньше пластика — больше чистой воды!



