.preview
  //data-rellax-min="-120" data-rellax-max="120"
  img(src='images/images/preview/bg.jpg', alt="").preview__bg
  .preview__mountain
    img(src='images/images/preview/mountains.png' alt="")
  div(data-rellax-percentage="0.8").clouds-animate.preview__clouds
  .box
    .preview__inner
      h1.preview__title Экологическая  ответственность
      div(data-rellax-percentage="0.5").preview__name.name-animate
        img(src='images/images/preview/name.png' alt="barrier")
