.preview
  img(src='images/images/preview/bg.jpg', alt="").preview__bg
  .preview__mountain
    img(src='images/images/preview/mountains.png' alt="")
  .preview__clouds
  .box
    .preview__inner
      h1.preview__title Экологическая  ответственность
      .preview__name
        img(src='images/images/preview/name.png' alt="barrier")
