.what-to-do.section
  .box.box--middle
    .what-to-do__inner
      .title.title--section.title--default-space Я хочу сдать фильтр на переработку, но в моем городе нет пункта приема БАРЬЕР
        br
        | Что делать?
      .what-to-do__list
        .what-to-do__cell
           .info-item
             .info-item__data
               .info-item__title Найти пункт приемапластика
               .info-item__content Кассеты БАРЬЕР сделаны из полипропилена. Вам нужны пункты сбора, принимающие этот тип отходов
             .info-item__btn
               a(href="#").btn Узнать
        .what-to-do__cell
           .info-item
             .info-item__data
               .info-item__title Узнать расписание акций волонтеров
               .info-item__content Волонтеры проводят акции по сбору вторсырья в разных городах
             .info-item__btn
               a(href="#").btn Узнать